<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello HTML Geeks</title>
  <link rel="stylesheet" href="/assets/application.css">
</head>
<body>
	<h1>Hello <%= geek_name %> From HTML Geeks</h1>
  
  <form class="" action="/post_form" method="post">
  <fieldset>
    <legend>Заполните форму</legend>
    <input type="text" name="name" value="">
    <input type="submit" name="" value="Отправить имя">
  </fieldset>
  </form>
</body>
</html>